@charset "utf-8";
/* CSS Document */
body {
	background:#fefefe;
	font-family:Arial, Helvetica, sans-serif;
	color:#636b6e;
	font-size:62.5%;
}
a {
	color:#aba9aa;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
	color:#636b6e;
}
.wrapper {
	width:1029px;
	margin:0 auto;
	font-size:1.2em;
	line-height:1.8;
	background-color:#fefefe;
	border-left:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;	
	
}
/*HEADER*/
header {
	padding-left:44px;
	padding-right:44px;
	width:940px;
}
.logo {
	padding:40px 0 25px;
	float:left;
	background:url(img/border.gif) no-repeat left bottom;
	margin-bottom:20px;
	width:450px;
}
.slogan {
	color:#aba9aa;
	font-size:1.4em;
	line-height:1.5;

}
	.slogan span {
	color:#636b6e;
}
.main-menu {
	float:left;
	margin-left:140px;
	margin-top:50px;
}
	.main-menu li {
		float:left;
}
		.main-menu li:after {
			content:"/";
			color:#aba9aa;
			padding:0 10px;

		}
		.main-menu li:last-child:after{
			content:"";
			padding:0;
		}
	.main-menu a {
	font-family:Arial, Helvetica, sans-serif;
	color:#636b6e;
	text-decoration:none;

}

	.main-menu a:active, a:visited {
	color:#aba9aa;
	text-decoration:none;
}
	.main-menu a:hover {
	color:#aba9aa;
	text-decoration:underline;
}

/*CONTENT*/
.content{
	clear:both;
	padding-bottom:30px;
	background:url(img/border.gif) no-repeat 44px bottom;
}
.detailed-portfolio {
	background-color:#f0f1f3;
	border-top:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	overflow:hidden;
	padding:35px 40px 80px 30px;
}
.portfolio-item {
	float:left;
	width:642px;
	background:url(img/shadow.png) no-repeat center bottom;
	padding:0 12px 3px 12px;
}
	.portfolio-item img {
	border:1px solid #e5e5e5;
	width:618px;
	display:block;
	margin:0 auto;
	}
.portfolio-description {
		width:250px;
		float:left;
		margin-left:40px;
}
	.portfolio-description p {
		margin-top:30px;
	}
	.portfolio-description a.launch {
		text-decoration: none;
		line-height:4;
	}
	.portfolio-description a.launch:after {
		content:"\2192";
		font-family:"Courier New", Courier, monospace;
		font-size:1.4em;
		margin:0 2px 2px 3px;
	}
			.portfolio-description a.launch:hover:after {
			}

.portfolio-nav {
		height:19px;
		margin-left:180px;
}
.portfolio-title {
	font-size:1.4em;
	font-weight:bold;
	margin-top:35px;
}
.portfolio-menu {
	margin:40px 0 0 44px;
	clear:both;
	width:500px;
}

	.portfolio-menu li {
		float:left;
}
		.portfolio-menu li:after {
			content:"/";
			color:#aba9aa;
			padding:0 10px;

		}
		.portfolio-menu li:last-child:after{
			content:"";
			padding:0;
		}
	.portfolio-menu a {
	font-family:Arial, Helvetica, sans-serif;
	color:#636b6e;
	text-decoration:none;

}
	.portfolio-menu a:active, a:visited {
	color:#aba9aa;
	text-decoration:none;
}
	.portfolio-menu a:hover {
	color:#aba9aa;
	text-decoration:underline;
}

.portfolio-list {
	clear:both;
	padding:30px 4px 10px 44px;
}
.portfolio-list img {
	padding-right:20px;
	padding-bottom:20px;
}
/*FOOTER*/
footer {
	padding:25px 44px 95px 44px;
}
.copyright {
	float:left;
}
.follow-us {
	float:right;
}

